<?xml version="1.0" encoding="gb2312" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=127.0.0.1;Database=RaceHorse;uid=root;pwd=123456"/>
  </appSettings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="auth" loginUrl="MyLogin.aspx" timeout="30">
        <credentials passwordFormat="Clear">
          <user name="test" password="test"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <globalization culture="auto" requestEncoding="gb2312" responseEncoding="gb2312" uiCulture="auto" />
    <httpHandlers>
      <add verb="POST,GET" path="Ajax/*.ashx"	type="Ajax.PageHandlerFactory, Ajax" />
    </httpHandlers>
    <sessionState mode="InProc" timeout="5" />
  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="BackGround">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="MyLogin.spx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="race.css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="race.js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
